<a href="https://colab.research.google.com/github/abhi1628/Python_Training/blob/main/Day_7_PT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Functions are block of codes which are executed when they are called by their names.
## Functions are used when a set of instructions are used again and again repeatedly- Code Reuseability.

In [ ]:
def sq(n): # n --> parameter
  return n**2

print(sq(4)) # n = 4 --> argument

16

In [ ]:
n = 4
print(n**2)

16

### No. of parameters must be equal to the no. of arguments.

In [ ]:
def sq(n, m): # n --> parameter
  return n**2

print(sq(4)) # n = 4 --> argument

TypeError: ignored

In [ ]:
def sq(n, m): # n --> parameter
  return n**2

print(sq(4, 5)) # n = 4 --> argument

16

In [ ]:
def sq(n, m = 0): # n --> parameter
  return n**2

print(sq(4)) # n = 4 --> argument

16

In [ ]:
def sq(n, m = 0): # n --> parameter
  return (n**2 + m)

print(sq(4)) # n = 4 --> argument

16

In [ ]:
def sq(n, m = 0): # n, m --> parameter
  return (n**2 + m)

print(sq(4, 4)) # n, m = 4 --> argument

20

In [ ]:
def sq(m = 0, n): # n, m --> parameter
  return (n**2 + m)

print(sq(4, 4)) # n, m = 4 --> argument

SyntaxError: ignored

In [ ]:
def sq(n, m = 0): # n, m --> parameter
  return (n**2 + m)

f = sq
print(sq)
print(f(8, 2))

<function sq at 0x7f9a1387a9e0>
66

## First Class Functions

In [ ]:
def log_in(msg):
  def login_msg():
    print('Login', msg)
  return login_msg
user_login = log_in('Welcome')
user_login()

Login Welcome

## scopes in functions

In [ ]:
def sq(n):
  m = n**2
  return m
print(sq(4))

16

In [ ]:
def sq(n):
  m = n**2
  return m
print(sq(m))

NameError: ignored

In [ ]:
def sq(n):
  global m
  m = n**2
  return m
print(sq(m))

1

In [ ]:
m = 1
def sq(n):
  m = n**2
  return m
print(sq(m))

1

In [ ]:
m = 10
def global_check():
  m = 20
  print('Variable inside function:',m)

global_check()
print('Variable outside function:',m)

Variable inside function: 20
Variable outside function: 10

In [ ]:
m = 10
def global_check():
  # m = 20
  print('Variable inside function:',m)

global_check()
print('Variable outside function:',m)

Variable inside function: 10
Variable outside function: 10

In [ ]:
m = 10
def global_check():
  global m
  m = 20
  print('Variable inside function:',m)

global_check()
print('Variable outside function:',m)

Variable inside function: 20
Variable outside function: 20

In [ ]:
m = 10
def global_check():
  m = 20
  a = globals()['m']
  print('Variable inside function:',m)

global_check()
print('Variable outside function:',m)

Variable inside function: 20
Variable outside function: 10

In [ ]:
m = 10
def global_check():
  m = 20
  a = globals()['m']
  print('Variable inside function:',m)

  globals()['m'] = 50

global_check()
print('Variable outside function:',m)

Variable inside function: 20
Variable outside function: 50

## LEGB --> Local, Enclosed, Global, Built-in

In [ ]:
def outer():
  x = 'Outer of x'
  def inner():
    x = 'inner of x'
    print(x)
  inner()
  print(x)

outer()

inner of x
Outer of x

In [ ]:
def outer():
  x = 'Outer of x'
  def inner():
    # x = 'inner of x'
    print(x)
  inner()
  print(x)

outer()

Outer of x
Outer of x

In [ ]:
def outer():
  # x = 'Outer of x'
  def inner():
    x = 'inner of x'
    print(x)
  inner()
  print(x)

outer()

inner of x

NameError: ignored

In [ ]:
def outer():
  x = 'Outer of x'
  def inner():
    nonlocal x
    x = 'inner of x'
    print(x)
  inner()
  print(x)

outer()

inner of x
inner of x

In [ ]:
def add_fun():
  v1 = 1
  v2 = 2
  return v1 + v2
print(add_fun())

3

In [ ]:
v2 = 2
def add_fun():
  v1 = 1
  return v1 + v2
print(add_fun())

3

In [ ]:
def add_fun(v1):
  def add_to_fun(v2):
    return v1 + v2
  return add_to_fun

add_to_fun = add_fun(5)
print(add_to_fun(6))

11

## Inner Function Variable can access the Outer Function Variable. This concept is called Closure Function.

In [ ]:
def outer_fun():
  msg = 'Python is Fun'
  def inner_fun():
    print(msg)
  return inner_fun()

outer_fun()

Python is Fun

In [ ]:
def outer_fun():
  msg = 'Python is Fun'
  def inner_fun():
    print(msg)
  return inner_fun

new_fun = outer_fun()
new_fun()

Python is Fun

In [ ]:
def outer_fun():
  msg = 'Python is Fun'
  def inner_fun():
    print(msg)
  return inner_fun

new_fun = outer_fun()
print(new_fun.__name__)

inner_fun

In [ ]:
def outer_fun():
  msg = 'Python is Fun'
  def inner_fun():
    print(msg)
  return inner_fun

new_fun = outer_fun()
new_fun()
new_fun()
new_fun()

Python is Fun
Python is Fun
Python is Fun

In [ ]:
def div_op(a,b):
  return a/b
div_op(5, 2)

2.5

In [ ]:
def div_op(a,b):
  return a/b
div_op(5, 0)

ZeroDivisionError: ignored

In [ ]:
def div_op(a,b):
  if b != 0:
    return a/b
  else:
    print('The value of b is zero. Change it.')
div_op(5, 0)

The value of b is zero. Change it.

In [ ]:
def check_div_op(func):
  def inside(a,b):
    if b == 0:
      print('The value of b is zero. Change it.')
      return
    func(a, b)
  return inside

def div_op(a,b):
  return a/b

div_op = check_div_op(div_op)

div_op(5, 0)

The value of b is zero. Change it.

In [ ]:
def check_div_op(func):
  def inside(a,b):
    if b == 0:
      print('The value of b is zero. Change it.')
      return
    func(a, b)
  return inside

@check_div_op # Decorator Function
def div_op(a,b):
  return a/b

div_op(5, 0)

The value of b is zero. Change it.

## Types of Arguments

In [ ]:
# Default Arguments
# Keyword Arguments

In [ ]:
def sq(n, m): # n --> parameter
  return n**2

print(sq(n = 4, m = 5)) # n = 4 --> argument

16

In [ ]:
def sq(n, m): # n --> parameter
  return n**2

print(sq(m = 4, n = 5)) # n = 4 --> argument

25

## Variable Arguments

In [ ]:
def n_values(*n): 
  return n

print(n_values(1, 2, 3))

(1, 2, 3)

In [ ]:
print(type(n_values()))

<class 'tuple'>

In [ ]:
def n_values(**n): 
  return n

print(n_values(x = 1, y = 2, z = 3))

{'x': 1, 'y': 2, 'z': 3}

In [ ]:
print(type(n_values()))

<class 'dict'>

In [ ]:
def n_values(*a,**b): 
  return a, b

print(n_values(1,2,3, x = 1, y = 2, z = 3))
print(type(n_values()))

((1, 2, 3), {'x': 1, 'y': 2, 'z': 3})
<class 'tuple'>

In [ ]:
def n_values(*args,**kwargs): 
  return args, kwargs

print(n_values(1,2,3, x = 1, y = 2, z = 3))
print(type(n_values()))

((1, 2, 3), {'x': 1, 'y': 2, 'z': 3})
<class 'tuple'>

In [ ]:
def n_values(*args,**kwargs): 
  return kwargs, args

print(n_values(x = 1, y = 2, z = 3, 1, 2, 3))
print(type(n_values()))

SyntaxError: ignored

## Which method is used to pass arguments in python?

In [ ]:
a = 10
def change(a):
  a = 20
  print('Inside function:',a,'has address:',id(a))
  return
print('Outside function:',a,'has address:',id(a))
change(a)
print('Function after call:',a,'has address:',id(a))

Outside function: 10 has address: 11256352
Inside function: 20 has address: 11256672
Function after call: 10 has address: 11256352

### Pass By Value: Function creates a copy of the variable passed as an argument. The actual object is not affected. Variable should be of immutable type.

In [ ]:
a = [10, 20, 30, 40]
def change(a):
  a[1] = 50
  print('Inside function:',a,'has address:',id(a))
  return
print('Outside function:',a,'has address:',id(a))
change(a)
print('Function after call:',a,'has address:',id(a))

Outside function: [10, 20, 30, 40] has address: 140299603738048
Inside function: [10, 50, 30, 40] has address: 140299603738048
Function after call: [10, 50, 30, 40] has address: 140299603738048

### Pass By Reference: Function creates a copy of the variable passed as an argument. The actual object is affected by the changes made to the object. Variable should be of mutable type and can be modified.