<a href="https://colab.research.google.com/github/abhi1628/Python_Training/blob/main/Day_4_PT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## List Attributes

In [1]:
a = [1, 2, 34, 56, 7, 2, 1]
print(a.count(1)) # tell that how many 1s are present in list
print(a.index(34)) # gives the index position of 34
print(sum(a)) # gives the sum of all elements of an integer list
print(len(a)) # gives the length of the list or total number of elements present in the list

2
2
103
7

In [3]:
print(max(a)) # to get the max value of the list
print(min(a)) # to get the min value of list
print(sum(a)/len(a)) # to get average

56
1
14.714285714285714

## Enumerate Function

### WAP to print the values alongwith their index position of a list

In [4]:
a = ['Python', 'Java', 'C', 'C++']
for x in range (len(a)):
  print(x, a[x])

0 Python
1 Java
2 C
3 C++

### Another way to do this is by using Enumerate function

In [5]:
a = ['Python', 'Java', 'C', 'C++']
for x, y in enumerate(a):
  print(x, y)

0 Python
1 Java
2 C
3 C++

In [8]:
a = ['Python', 'Java', 'C', 'C++']
for y, x in enumerate(a): # change x and y position
  print(x, y)

Python 0
Java 1
C 2
C++ 3

In [7]:
a = ['Python', 'Java', 'C', 'C++']
for y, x in enumerate(a):
  print(y, x)

0 Python
1 Java
2 C
3 C++

### Another use of enumerate is that we can start index position from any number we want

In [11]:
a = ['Python', 'Java', 'C', 'C++']
for x, y in enumerate(a, 100): # now the index becomes like serial number and will start from 100
  print(x, y)

100 Python
101 Java
102 C
103 C++

## WAP to calculate average of space separated elements created by a user defined list using List Comprehension

In [13]:
a = int(input('Enter the number of subjects:'))
print('Enter the marks space separated:')
marks = [int(i) for i in input().split(' ')[0:a]] # [0:a] will take only no.of subjects defined in 'a'. If more than 'a' are given, then others are ignored
print(marks)
print('Average is:', sum(marks)/a)

Enter the number of subjects:5
Enter the marks space separated:
65 85 95 75 84 75 95 74
[65, 85, 95, 75, 84]
Average is: 80.8

## WAP to remove common elements from 2 lists and store them in a separate list

In [14]:
a = [1, 2, 3, 4, 5, 6]
b = [4, 5, 6, 7, 8, 9]
c = []
for i in a:
  if i in b:
    c.append(i)
print(c)

[4, 5, 6]

## WAP to print the index of all the elements in list 1 which are present in list 2

In [19]:
a = [1, 2, 3, 4, 5, 6, 2, 3, 6]
b = [1, 3, 6]
c = []
for i in range(len(a)):
  if a[i] in b:
    c.append(i)
print(c)

[0, 2, 5, 7, 8]

## WAP to store all the duplicate elements of a list into another list using count method

In [22]:
a = [1, 2, 3, 4, 5, 6, 2, 3, 6]
b = []
for i in range(len(a)):
  if a.count(i) > 1:
    b.append(i)
print(b)

[2, 3, 6]

## String attributes

In [25]:
a = ' Python '
print(a)
print(a.strip())

 Python
Python

In [27]:
a = 'Python '
print(a)
print(a.rstrip())

Python
Python

In [29]:
a = ' Python'
print(a)
print(a.lstrip())

 Python
Python

In [30]:
a = 'Python is fun'
print(a)
print(a.startswith('Python'))

Python is fun
True

In [32]:
a = 'Python is fun'
print(a)
print(a.endswith('fun'))

Python is fun
True

In [33]:
a = 'Python'
print(a.isalpha())

True

In [34]:
a = 'Python'
print(a.isdigit())

False

In [44]:
a = 'Python is EASY' # space is present that's why output is False
print(a.isalpha())

False

In [41]:
a = '123'
print(a.isdigit())

True

In [42]:
a = 123
print(a.isdigit())

AttributeError: ignored