<a href="https://colab.research.google.com/github/abhi1628/Python_Training/blob/main/Day_6_PT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Set is an unordered collection of elements which are unique

In [ ]:
hero_name = {'Tony', 'Steve', 'Thor'}
print(hero_name)
print(type(hero_name))

{'Tony', 'Steve', 'Thor'}
<class 'set'>

## Empty sets

In [ ]:
a = {}
print(type(a))

<class 'dict'>

In [ ]:
a = set()
print(type(a))

<class 'set'>

In [ ]:
hero_name = ['Tony', 'Steve', 'Thor']
print(hero_name)
print(type(hero_name))

['Tony', 'Steve', 'Thor']
<class 'list'>

In [ ]:
hero_name = ['Tony', 'Steve', 'Thor']
a = set(hero_name)
print(a)
print(type(a))

{'Tony', 'Steve', 'Thor'}
<class 'set'>

In [ ]:
hero_name = 'Tony', 'Steve', 'Thor'
a = set(hero_name)
print(a)
print(type(a))

{'Tony', 'Steve', 'Thor'}
<class 'set'>

In [ ]:
hero_name = 'Tony', 'Steve', 'Thor'
set(hero_name)

{'Steve', 'Thor', 'Tony'}

In [ ]:
hero_name = 'Tony', 'Steve', 'Thor', 'Tony'
set(hero_name)

{'Steve', 'Thor', 'Tony'}

## Operations on Set

In [ ]:
hero_name = {'Tony', 'Steve', 'Thor'}
len(hero_name)

3

In [ ]:
'Steve' in hero_name

True

In [ ]:
'IronMan' in hero_name

False

In [ ]:
'IronMan' not in hero_name

True

## Union in Sets

In [ ]:
hero_name = {'Tony', 'Steve', 'Thor'}
villain_name = {'Thanos', 'Ultron', 'Vulture'}
print(hero_name | villain_name) # union --> joining all elements

{'Vulture', 'Tony', 'Steve', 'Ultron', 'Thor', 'Thanos'}

In [ ]:
print(hero_name.union(villain_name))

{'Vulture', 'Tony', 'Steve', 'Ultron', 'Thor', 'Thanos'}

## Is there any difference between union method and pipe operator?

In [ ]:
print(hero_name | ('Thanos', 'Ultron', 'Vulture'))

TypeError: ignored

In [ ]:
print(hero_name.union(('Thanos', 'Ultron', 'Vulture')))

{'Steve', 'Ultron', 'Thor', 'Vulture', 'Tony', 'Thanos'}

## Intersection in Sets

In [ ]:
hero_name = {'Tony', 'Steve', 'Thor'}
villain_name = {'Thanos', 'Ultron', 'Vulture'}
print(hero_name & villain_name) # intersection --> returns the common value

set()

In [ ]:
hero_name = {'Tony', 'Steve', 'Thor'}
villain_name = {'Thanos', 'Ultron', 'Vulture', 'Thor'}
print(hero_name & villain_name) # intersection --> returns the common value

{'Thor'}

In [ ]:
print(hero_name.intersection(villain_name))

{'Thor'}

## Difference in Sets --> elements which are present in one set but not present in another set

In [ ]:
hero_name = {'Tony', 'Steve', 'Thor'}
villain_name = {'Thanos', 'Ultron', 'Vulture', 'Thor'}
print(hero_name - villain_name)

{'Tony', 'Steve'}

In [ ]:
hero_name = {'Tony', 'Steve', 'Thor'}
villain_name = {'Thanos', 'Ultron', 'Vulture', 'Thor'}
print(villain_name - hero_name)

{'Vulture', 'Ultron', 'Thanos'}

## issubset() in sets

In [ ]:
hero_name = {'Tony', 'Steve', 'Thor'}
villain_name = {'Thanos', 'Ultron', 'Vulture', 'Thor'}
print(villain_name <= hero_name)

False

In [ ]:
print(hero_name <= villain_name)

False

In [ ]:
iron_man_1 = {'Tony', 'Warmachine'}
iron_man_2 = {'Tony', 'Warmachine', 'Natasha'}
print(iron_man_1 <= iron_man_2)

True

In [ ]:
print(iron_man_2 <= iron_man_1)

False

## issuperset() in sets

In [ ]:
print(iron_man_1 >= iron_man_2)

False

In [ ]:
print(iron_man_2 >= iron_man_1)

True

## isdisjoint() in sets --> gives output True when there are no common elements

In [ ]:
iron_man_1 = {'Tony', 'Warmachine'}
iron_man_2 = {'Tony', 'Warmachine', 'Natasha'}
print(iron_man_1.isdisjoint(iron_man_2))

False

In [ ]:
print(iron_man_2.isdisjoint(iron_man_1))

False

In [ ]:
hero_name = {'Tony', 'Steve', 'Thor'}
villain_name = {'Thanos', 'Ultron', 'Vulture'}
print(hero_name.isdisjoint(villain_name))

True

## Symmetric Difference in sets --> generate a set having elements which are not common in either 1st set or 2nd set

In [ ]:
print(hero_name.symmetric_difference(villain_name))

{'Steve', 'Ultron', 'Thor', 'Vulture', 'Tony', 'Thanos'}

In [ ]:
print(hero_name ^ villain_name)

{'Steve', 'Ultron', 'Thor', 'Vulture', 'Tony', 'Thanos'}

## Adding elements in a set

In [ ]:
hero_name = {'Tony', 'Steve', 'Thor'}
hero_name.add('Hulk')
hero_name

{'Hulk', 'Steve', 'Thor', 'Tony'}

In [ ]:
hero_name.add('Hawkeye', 'Natasha')
hero_name

TypeError: ignored

In [ ]:
hero_name.add(['Hawkeye', 'Natasha'])
hero_name

TypeError: ignored

In [ ]:
hero_name.add({'Hawkeye', 'Natasha'})
hero_name

TypeError: ignored

In [ ]:
hero_name.add(('Hawkeye', 'Natasha'))
hero_name

{('Hawkeye', 'Natasha'), 'Hulk', 'Steve', 'Thor', 'Tony'}

## Remove elements from a set

In [ ]:
hero = {'Hulk', 'Steve', 'Thor', 'Tony'}
hero.remove('Thor')
hero

{'Hulk', 'Steve', 'Tony'}

In [ ]:
hero = {'Hulk', 'Steve', 'Thor', 'Tony'}
hero.discard('Thor')
hero

{'Hulk', 'Steve', 'Tony'}

In [ ]:
hero = {'Hulk', 'Steve', 'Tony'}
hero.remove('Thor')
hero

KeyError: ignored

In [ ]:
hero = {'Hulk', 'Steve', 'Tony'}
hero.discard('Thor')
hero

{'Hulk', 'Steve', 'Tony'}

In [ ]:
hero.pop() # it will remove element randomly
hero

{'Hulk', 'Tony'}

In [ ]:
hero.pop() # it will remove element randomly
hero

{'Tony'}

In [ ]:
hero.pop() # it will remove element randomly
hero

set()

In [ ]:
hero.pop() # it will remove element randomly
hero

KeyError: ignored

In [ ]:
hero = {'Hulk', 'Steve', 'Tony'}
hero.clear()
hero

set()

In [ ]:
hero = {'Hulk', 'Steve', 'Tony'}
hero.pop('Hulk')
hero

TypeError: ignored

## Augmented Assignment Operator

In [ ]:
# a = a + b
# a += b

In [ ]:
# a = a | b
# a |= b

In [ ]:
# a.union(b) --> a.union_update(b)
# a.intersection(b) --> a.intersection_update(b)

## Frozen Sets

In [ ]:
hero = frozenset(['Hulk', 'Steve', 'Tony'])
print(hero)
print(type(hero))

frozenset({'Steve', 'Hulk', 'Tony'})
<class 'frozenset'>

In [ ]:
hero.pop()
hero

AttributeError: ignored

In [ ]:
hero.clear()
hero

AttributeError: ignored

In [ ]:
hero.add('Thor')
hero

AttributeError: ignored

In [ ]:
hero = frozenset(['Hulk', 'Steve', 'Tony'])
print(hero)
new_hero = {'Strange', 'Spiderman'}
hero |= new_hero
print(hero)

frozenset({'Steve', 'Hulk', 'Tony'})
frozenset({'Steve', 'Tony', 'Hulk', 'Strange', 'Spiderman'})

In [ ]:
hero = frozenset(['Hulk', 'Steve', 'Tony'])
print(id(hero))
new_hero = {'Strange', 'Spiderman'}
hero |= new_hero
print(id(hero))

140329958427776
140329958427296

## Set Comprehension

In [ ]:
num = [4, 3, 2, 1, 1, 5, 3, 4]
set_com = {i for i in num}
print(set_com)

{1, 2, 3, 4, 5}