<a href="https://colab.research.google.com/github/abhi1628/Python_Training/blob/main/Day_2_PT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## WAP to find the LCM

In [ ]:
a = int(input('Enter 1st no:'))
b = int(input('Enter 2nd no:'))
if a < b:
  a,b = b,a
for i in range(b, (a*b)+1, b):
  if i%a == 0:
    print('The LCM is:',i)
    break

Enter 1st no:12
Enter 2nd no:15
The LCM is: 60

## WAP to find HCF

In [ ]:
a = int(input('Enter 1st no:'))
b = int(input('Enter 2nd no:'))
i = 1
while (i <= a and i <= b):
  if a%i == 0 and b%i == 0:
    hcf = i
  i += 1
print('The HCF is:', hcf)

Enter 1st no:12
Enter 2nd no:15
The HCF is: 3

## WAP to print star patterns?

In [ ]:
print(1)
print(1)
print(1)
print(1)

1
1
1
1

In [ ]:
for i in range(4):
  print(1)

1
1
1
1

In [ ]:
for i in range(0,4):
  print(1, end = ' ')

1 1 1 1

In [ ]:
for x in range(0,4):
  for i in range(0,4):
    print(1, end = ' ')
  print()

1 1 1 1
1 1 1 1
1 1 1 1
1 1 1 1

In [ ]:
a = int(input('Enter a number:'))
for x in range(a):
  for i in range(a):
    print(1, end = ' ')
  print()

Enter a number:4
1 1 1 1
1 1 1 1
1 1 1 1
1 1 1 1

In [ ]:
a = int(input('Enter a number:'))
for x in range(a):
  for i in range(a):
    print('*', end = ' ')
  print()

Enter a number:4
* * * *
* * * *
* * * *
* * * *

In [ ]:
a = int(input('Enter a number:'))
for x in range(a):
  for i in range(4-x):
    print('*', end = ' ')
  print()

Enter a number:4
* * * *
* * *
* *
*

# List

In [ ]:
a = []
print(a)
print(type(a))

[]
<class 'list'>

In [ ]:
a.append(1)

In [ ]:
print(a)

[1]

In [ ]:
a.append(0)
print(a)

[1, 0]

In [ ]:
a.append(5)
print(a)

[1, 0, 5]

In [ ]:
a.append(-1)
print(a)

[1, 0, 5, -1]

In [ ]:
a.append([-2,5,6])
print(a)

[1, 0, 5, -1, [-2, 5, 6]]

In [ ]:
a = [1, 0, 5, -1]
a.extend([-2,6,7])
print(a)

[1, 0, 5, -1, -2, 6, 7]

In [ ]:
a = [1, 0, 5, -1, -2, 6, 7]
print(a[0])
print(a[3])
print(a[0:5])

1
-1
[1, 0, 5, -1, -2]

In [ ]:
print(a[0:5:1])
print(a[0:])
print(a[:])
print(a[0:7])

[1, 0, 5, -1, -2]
[1, 0, 5, -1, -2, 6, 7]
[1, 0, 5, -1, -2, 6, 7]
[1, 0, 5, -1, -2, 6, 7]

In [ ]:
print(a[-1])

7

In [ ]:
print(a[::-1])

[7, 6, -2, -1, 5, 0, 1]

In [ ]:
a.insert(0,10)
print(a)

[10, 1, 0, 5, -1, -2, 6, 7]

## Copying List elements

In [ ]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = a
print('The original List is:',a)
print('The copied List is:',b)

The original List is: [10, 1, 0, 5, -1, -2, 6, 7]
The copied List is: [10, 1, 0, 5, -1, -2, 6, 7]

In [ ]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = a # shallow copy
b.append(100)
print('The original List is:',a)
print('The copied List is:',b)

The original List is: [10, 1, 0, 5, -1, -2, 6, 7, 100]
The copied List is: [10, 1, 0, 5, -1, -2, 6, 7, 100]

In [ ]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = a.copy() # deep copy
b.append(100)
print('The original List is:',a)
print('The copied List is:',b)

The original List is: [10, 1, 0, 5, -1, -2, 6, 7]
The copied List is: [10, 1, 0, 5, -1, -2, 6, 7, 100]

In [ ]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = a[:] # deep copy
b.append(100)
print('The original List is:',a)
print('The copied List is:',b)

The original List is: [10, 1, 0, 5, -1, -2, 6, 7]
The copied List is: [10, 1, 0, 5, -1, -2, 6, 7, 100]

## WAP to copy one list elements into other list without using shallow or deep copy?

In [ ]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = []
for i in a:
  b.append(i)
print(b)

[10, 1, 0, 5, -1, -2, 6, 7]

## WAP to copy square of one list elements into other list without using shallow or deep copy?

In [ ]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = []
for i in a:
  b.append(i**2)
print(b)

[100, 1, 0, 25, 1, 4, 36, 49]

## WAP to copy those elements of a list which are divisible by 2 and 5 only?

In [ ]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = []
for i in a:
  if i%2 == 0 and i%5 == 0:
    b.append(i)
print(b)

[10, 0]

## WAP to copy one list elements into another list. If the element is greater than 2, then copy it after squaring it?

In [ ]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = []
for i in a:
  if i > 2:
    b.append(i**2)
  else:
    b.append(i)
print(b)

[100, 1, 0, 25, -1, -2, 36, 49]

## WAP to find the missing values

In [ ]:
a = [1, 2, 3, 5, 6, 8, 9, 10]
b = []
for i in range(a[0], a[-1]):
  if i not in a:
    b.append(i)
print(b)

[4, 7]

## List Comprehension

In [ ]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = []
for i in a:
  b.append(i)
print(b)

[10, 1, 0, 5, -1, -2, 6, 7]

In [ ]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = [i for i in a]
print(b)

[10, 1, 0, 5, -1, -2, 6, 7]

In [ ]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = [i**2 for i in a]
print(b)

[100, 1, 0, 25, 1, 4, 36, 49]

In [ ]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = [i for i in a if i%2 == 0 and i%5 == 0]
print(b)

[10, 0]

In [ ]:
a = [10, 1, 0, 5, -1, -2, 6, 7]
b = [i**2 if i > 2 else i for i in a]
print(b)

[100, 1, 0, 25, -1, -2, 36, 49]

## Remove List elements

In [ ]:
a = ['Tony', 'Steve', 'Thor', 'Hulk', 'Thanos', 'Gorr']
print(a)

['Tony', 'Steve', 'Thor', 'Hulk', 'Thanos', 'Gorr']

In [ ]:
a.pop()
print(a)

['Tony', 'Steve', 'Thor', 'Hulk', 'Thanos']

In [ ]:
a.pop(1)
print(a)

['Tony', 'Thor', 'Hulk', 'Thanos']

In [ ]:
a.remove('Thanos')
print(a)

['Tony', 'Thor', 'Hulk']

In [ ]:
a.clear()
print(a)

[]

In [ ]:
del a
print(a)

NameError: ignored

In [ ]:
a = [1, 2, 3, ['Tony', 'Steve', 'Thor'], 4, 5, 6, 'Python']
print(a)

[1, 2, 3, ['Tony', 'Steve', 'Thor'], 4, 5, 6, 'Python']

In [ ]:
print(a[3][1])

Steve

In [ ]:
5/2

2.5

In [ ]:
5//2

2

## WAP to add digits of any number

In [ ]:
a = int(input('Enter a number:'))
sod = 0
while a > 0:
  temp = a % 10
  sod = sod + temp
  a = a // 10
print(sod)

Enter a number:749
20