<a href="https://colab.research.google.com/github/abhi1628/Python_Training/blob/main/Destructor%2C_Inheritance%2C_Abstraction_and_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Destructors in OOPS

In [4]:
class demo:
  def __init__(self):
    print('Constructor is called')

  def display(self):
    print('Display method is called')

  def __del__(self):
    print('Destructor is called')

d = demo()
d.display()

Constructor is called
Display method is called
Destructor is called

## How to change private attributes

In [5]:
class speed:
  def __init__(self):
    self.speed = 10

  def get_speed(self):
    return self.speed

s = speed()
s.get_speed()

10

In [6]:
class speed:
  def __init__(self):
    self.speed = 10

  def get_speed(self):
    return self.speed

s = speed()
s.speed = 100
s.get_speed()

100

In [8]:
class speed:
  def __init__(self):
    self.speed = 10
    self.__setspeed = 70

  def get_speed(self):
    return self.speed

  def set_speed(self):
    return self.__setspeed

s = speed()
s.speed = 100
s.__setspeed = 120
s.get_speed(), s.set_speed()

(100, 70)

In [12]:
class speed:
  def __init__(self):
    self.speed = 10
    self.__setspeed = 70

  def get_speed(self):
    return self.speed

  def set_speed(self):
    return self.__setspeed

  def set_speed_limit(self, new_speed):
    self.__setspeed = new_speed

s = speed()
s.speed = 100
s.set_speed_limit(120)
s.get_speed(), s.set_speed()

(100, 120)

## Abstraction in OOPs Python

In [16]:
from abc import ABC, abstractmethod
class animal(ABC):
  @abstractmethod
  def dog(self):
    pass # declared but not defined

class pet(animal):
  def dog(self):
    print('Loyal friend')

p = pet()
p.dog()

Loyal friend

## Inheritance

In [23]:
class employee:
  raise_amount = 1.05
  def __init__(self, firstn, lastn, sal):
    self.firstn = firstn
    self.lastn = lastn
    self.sal = sal

  def fulln(self):
    return '{} {}'.format(self.firstn, self.lastn)

  def raise_in_salary(self):
    self.sal = int(self.sal * self.raise_amount)

emp1 = employee('Tony', 'Stark', 75000000)
emp2 = employee('Steve', 'Rogers', 65000000)
print(emp1.fulln())
print('The salary is', emp1.sal)
emp1.raise_in_salary()
print('The salary is', emp1.sal)

Tony Stark
The salary is 75000000
The salary is 78750000

In [24]:
class developers(employee):
  pass

emp1 = developers('Tony', 'Stark', 75000000)
emp2 = developers('Steve', 'Rogers', 65000000)
print(emp1.fulln())
print('The salary is', emp1.sal)
emp1.raise_in_salary()
print('The salary is', emp1.sal)

Tony Stark
The salary is 75000000
The salary is 78750000

In [25]:
class developers(employee):
  raise_amount = 2.04

emp1 = developers('Tony', 'Stark', 75000000)
emp2 = developers('Steve', 'Rogers', 65000000)
print(emp1.fulln())
print('The salary is', emp1.sal)
emp1.raise_in_salary()
print('The salary is', emp1.sal)

Tony Stark
The salary is 75000000
The salary is 153000000

In [26]:
class developers(employee):
  raise_amount = 2.04
  def __init__(self, firstn, lastn, sal, prog_lang):
    employee.__init__(self, firstn, lastn, sal)
    self.prog_lang = prog_lang

emp1 = developers('Tony', 'Stark', 75000000, 'Python')
emp2 = developers('Steve', 'Rogers', 65000000, 'Javascript')
print(emp1.fulln())
print('The salary is', emp1.sal)
emp1.raise_in_salary()
print('The salary is', emp1.sal)

Tony Stark
The salary is 75000000
The salary is 153000000

In [28]:
class developers(employee):
  raise_amount = 2.04
  def __init__(self, firstn, lastn, sal, prog_lang):
    super().__init__(firstn, lastn, sal)
    self.prog_lang = prog_lang

emp1 = developers('Tony', 'Stark', 75000000, 'Python')
emp2 = developers('Steve', 'Rogers', 65000000, 'Javascript')
print(emp1.fulln())
print('The salary is', emp1.sal)
emp1.raise_in_salary()
print('The salary is', emp1.sal)

Tony Stark
The salary is 75000000
The salary is 153000000

In [30]:
class managers(employee):
  def __init__(self, firstn, lastn, sal, employees = None):
    super().__init__(firstn, lastn, sal)
    if employees is None:
      self.employees = []
    else:
      self.employees = employees

  def add_emp(self,emp):
    if emp not in self.employees:
      self.employees.append(emp)
  
  def remove_emp(self, emp):
    if emp in self.employees:
      self.employees.remove(emp)

  def print_emp(self):
    for emp in self.employees:
      print('-->',emp.fulln())

emp1 = developers('Tony', 'Stark', 75000000, 'Python')
emp2 = developers('Steve', 'Rogers', 65000000, 'Javascript')
mgr = managers('Nick', 'Fury', 1000000000, [emp1])
print(mgr.sal)
mgr.add_emp(emp2)
print('Employees List After adding all employees:')
mgr.print_emp()
mgr.remove_emp(emp1)
print('Employees List After removing any employees:')
mgr.print_emp()

1000000000
Employees List After adding all employees:
--> Tony Stark
--> Steve Rogers
Employees List After removing any employees:
--> Steve Rogers

In [35]:
def add_emp(emp, emp_list = []):
  emp_list.append(emp)
  print(emp_list)

emp_list = ['Tony', 'Steve']
add_emp('Bruce')
add_emp('Thor')
add_emp('Strange')
print(emp_list)

['Bruce']
['Bruce', 'Thor']
['Bruce', 'Thor', 'Strange']
['Tony', 'Steve']

In [36]:
def add_emp(emp, emp_list = None):
  if emp_list is None:
    emp_list = []
  emp_list.append(emp)
  print(emp_list)

emp_list = ['Tony', 'Steve']
add_emp('Bruce')
add_emp('Thor')
add_emp('Strange')
print(emp_list)

['Bruce']
['Thor']
['Strange']
['Tony', 'Steve']

## Repr, Str methods

In [43]:
class employee:
  raise_amount = 1.05
  def __init__(self, firstn, lastn, sal):
    self.firstn = firstn
    self.lastn = lastn
    self.sal = sal

  def fulln(self):
    return '{} {}'.format(self.firstn, self.lastn)

  def raise_in_salary(self):
    self.sal = int(self.sal * self.raise_amount)

  def __repr__(self):
    return '{} {}'.format(self.firstn, self.lastn)

  def __str__(self):
    return '{}- {}'.format(self.fulln(), self.sal)

emp1 = employee('Tony', 'Stark', 75000000)
emp2 = employee('Steve', 'Rogers', 65000000)
print(emp1)

Tony Stark- 75000000

## Different methods in OOPs

In [44]:
class MyClass:
  def method(self):
    return 'Instance Method Called', self

  @classmethod
  def class_method(cls):
    return 'Class Method Called', cls

  @staticmethod
  def static_method():
    return 'Static Method Called'

obj = MyClass()
obj.method()

('Instance Method Called', <__main__.MyClass at 0x7fa0a2f71510>)

In [45]:
class Pizza:
  def __init__(self, ingredients):
    self.ingredients = ingredients

  def __repr__(self):
    return f'Pizza({self.ingredients})'

  @classmethod 
  def __panpizza__(cls, self):
    self.type = type 
  
  def pizzatype(self, types):
    return types

  @classmethod
  def bakepizza(cls):
    return cls(['mozzarella', 'cheeseburst', 'onion'])

p = Pizza('Heese Burst Pizza')
t = Pizza('Pan Pizza')
print(t.pizzatype('Pan Pizza'))

Pan Pizza

In [48]:
import math
class Pizza:
  def __init__(self, radius, ingredients):
    self.radius = radius
    self.ingredients = ingredients

  def area(self):
    return self.pizza_area(self.radius)
  
  @staticmethod
  def pizza_area(r):
    return math.pi*r**2

p = Pizza(4,['Barbequed', 'Pan'])
print(p.area())

50.26548245743669