<a href="https://colab.research.google.com/github/abhi1628/Python_Training/blob/main/Method_overloading%2C_Overriding%2C_Multiple_Inheritance_and_MRO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class student:
  def __init__(self, roll1, roll2):
    self.roll1 = roll1
    self.roll2 = roll2

  def my_sum(self, a, b):
    s = a + b
    return s

res = student(10, 11)
res.my_sum(85,98)

183

In [ ]:

class student:
  def __init__(self, roll1, roll2):
    self.roll1 = roll1
    self.roll2 = roll2

  def my_sum(self, a, b, c = 10):
    s = a + b
    return s

  def my_sum(self, a, b, c):
    s = a + b + c
    return s

res = student(10, 11)
res.my_sum(85,98)

TypeError: ignored

In [ ]:
class water_animal:
  def water(self):
    print('frog lives in water')

class land_animal:
  def land(self):
    print('frog lives on land')

class land_and_water(land_animal):
  def land_water(self):
    print('frog lives on land and in water')

law = land_and_water()
law.land_water()

frog lives on land and in water

In [ ]:
class water_animal:
  def land_water(self):
    print('frog lives in water')

class land_animal:
  def land_water(self):
    print('frog lives on land')

class land_and_water(land_animal):
  def land_water(self):
    print('frog lives on land and in water')

law = land_and_water()
law.land_water()

frog lives on land and in water

In [ ]:
class water_animal:
  def land_water(self):
    print('frog lives in water')

class land_animal:
  def land_water(self):
    print('frog lives on land')

class land_and_water(water_animal, land_animal):
  def land_water(self):
    print('frog lives on land and in water')

law = land_and_water()
law.land_water()

frog lives on land and in water

In [ ]:
class water_animal:
  def land_water(self):
    print('frog lives in water')

class land_animal(water_animal):
  def land_water(self):
    print('frog lives on land')

class air_animal(water_animal):
  def land_water(self):
    print('Duck can swim and fly')

class land_and_water(air_animal, water_animal):
    pass

law = land_and_water()
law.land_water()

Duck can swim and fly

In [ ]:
print(land_and_water.mro())

[<class '__main__.land_and_water'>, <class '__main__.air_animal'>, <class '__main__.water_animal'>, <class 'object'>]

In [ ]:
class C1:
  def m(self):
    print('In Class 1')

class C2(C1):
  def m(self):
    print('In Class 2')

class C3(C1):
  def m(self):
    print('In Class 3')

class C4(C2, C3):
  pass

obj = C4()
obj.m()

In Class 2

In [ ]:
print(C4.mro())

[<class '__main__.C4'>, <class '__main__.C2'>, <class '__main__.C3'>, <class '__main__.C1'>, <class 'object'>]